.card-header{
  font-size: 25px;
}

.show{
  float: right;
  font-family: Monospace;
  font: italic;
}
.logo{
  font-family: Futura;
  font-size: 80px;
  text-align: center;
}
.center {
    display: block;
    margin-left: 8%;
    margin-right: 52%;
    width: 80%;
}
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
.decorate{
  font-family: Times New Roman;
  font-size: 20px;
}
@font-face {
	font-family: 'icons';
	src: url("font/icons.eot");
	src: 
		url("font/icons.eot?#iefix") format('embedded-opentype'), 
		url("font/icons.woff") format('woff'), 
		url("font/icons.ttf") format('truetype'), 
		url("font/icons.svg#icons") format('svg');
	font-weight: normal;
	font-style: normal;
}
.mb-wrap {
	width: 300px;
	margin: 20px auto;
	padding: 20px;
	position: relative;	
}

.mb-wrap p{
	margin: 0;
	padding: 0;
}

.mb-wrap blockquote {
	margin: 0;
	padding: 0;
	position: relative;
}
.bk{
  background-color: black;
  background-position: 50%;
}
.mb-author{
  color: white;
}
.light{
  color: white;
  font-weight: lighter; 
  font-size: 20px;
  }
.footer{
  text-align: center;
}